<div class="row carousel-container">
  <app-carousel></app-carousel>
</div>
<div class="row">
  <app-product></app-product>
</div>
<!--
<h2>演示</h2>
 <p>简单事件绑定</p> 
<input type="button" value='点我查看事件' (click)='doOnClick($event)'>
<p>属性绑定</p> 
<div style='padding:20px 0 0 0'>
<img src = '{{imgUrl}}' alt="">
<hr> 
<img [src]='imgUrl' alt=""> 
</div>
<hr> 
<p>dom和html属性演示</p> 
<h3>输入值的DOM属性和html属性</h3>
<input value='Tom' type="text" (input)='doOnInputVal($event)'>
<button disabled='false'>按钮禁用1</button>
<button [disabled]='isFalse' (click)='onButton()'>按钮禁用2</button>
<table>
  <tr>
    <td [attr.colsapn]='size'>angular2</td>
  </tr>
</table>

-->

